@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
} */
.header-buttoNS button {
    margin: 5px;
}

.header-buttoNS {
    text-align: left;
    align-items: left;
    justify-content: left;
    padding-left: 81px;
}

.header-containER h1 {
    text-align: left;
    padding-left: 80px;
    font-size: 50px;
    padding-bottom: 5px;
}

.header-containER p {
    text-align: left;
    padding-left: 80px;
}

.navbar li {
    list-style: none;
}

a {
    color: hsl(229, 31%, 21%);
    text-decoration: none;
    font-family: 'Rubik', san-serif;
    letter-spacing: 3px;
}

header {
    box-sizing: border-box;
    font-family: 'Rubik', san-serif;
}

.bookmark-hero-big {
    font-size: 35px;
    line-height: 1.2;
    color: hsl(229, 31%, 21%);
    margin-top: 3.2rem;
    margin-bottom: 1.5rem;
    font-family: 'Rubik', san-serif;
    font-weight: 900;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    padding-left: 0px;
    text-align: center;
}

.nav-link {
    font-size: 12px;
    font-weight: 500;
}

.nav-branding {
    display: flex;
    font-size: 2.5rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.bTN {
    border: 2px solid hsl(0, 94%, 66%);
    border-radius: 5px;
    width: 200px;
    background: hsl(0, 94%, 66%);
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.hamburger-icon {
    position: absolute;
}

nav {
    width: 100%;
    padding: 25px 120px;
    color: hsl(229, 31%, 21%);
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    top: 0;
    margin-left: 0px;
}

/* .navbar {
    display: flex;
    align-items: center;
    max-width: 90rem;
    justify-content: space-around;
    padding-top: 50px;
    box-sizing: border-box;
} */

.nav-link {
    margin-right: 50px;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.3rem;
    right: 2rem;
}

.hidden {
    display: none;
}

nav .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbar ul li {
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
}

nav .navbar ul li:hover {
    color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.menu-icon {
    display: none;
    cursor: pointer;
    width: 25px;
}

.lOGin-btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.lOGin-btn:hover {
    color: hsl(0, 94%, 66%);
    background: #fff;
    width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 112px;
    padding-right: 112px;
}

.nav-sections {
    display: none;
}

.nav-sections button:hover,
.uppercase li:hover {
    color: hsl(0, 94%, 66%);
}

.menu .login-btn {
    width: 100%;
    outline: none;
    border: 2px solid #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    background: inherit;
    border-radius: 7px;
    padding: .7rem 2.5rem;
    box-shadow: none;
    transition: all .2s ease-in;
}

.menu .login-btn:hover,
.menu .login-btn:active {
    border: 2px solid #ffffff;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(229, 31%, 21%);
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem 2rem;
    z-index: 2;
    transform: translateX(-100%);
    transition: all .2s ease-in;
}

.menu .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 2rem 0;
    width: 100%;
}

.menu ul li {
    font-weight: 300;
    padding: 1.2rem 0;
    font-size: 18px;
    border-bottom: 1px solid hsl(229, 31%, 21%);
    letter-spacing: 2.5px;
    text-align: center;
    width: 100%;
}

.menu ul li:first-child {
    border-top: 1px solid hsl(229, 31%, 21%);
}

.menu a {
    width: 100%;
}

.menu .login-btn {
    width: 100%;
    outline: none;
    border: 2px solid #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    background: inherit;
    border-radius: 7px;
    padding: .7rem 2.5rem;
    box-shadow: none;
    transition: all .2s ease-in;
}

.menu .btn4n:hover,
.menu .btn4:active {
    border: 2px solid #ffffff;
}

.menu .links-icon {
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.icon-link div {
    width: 22px;
    height: 23px;
    cursor: pointer;
}

.icon-link div:last-child {
    height: 21px;
}

header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

header .svg-div {
    display: flex;
    padding: 0 .5rem .5rem .5rem;
    position: relative;
}

.right-underlapping-div::after {
    content: "";
    position: absolute;
    width: 78%;
    height: 78%;
    background: hsl(231, 69%, 60%);
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 30%;
}

.right-underlapping-div {
    flex: 1 50%;
}

.header-containER {
    flex: 1 50%;
}

.header-containER {
    padding: 0 0.5rem;
    text-align: center;
}

header button:first-child {
    margin-right: .3rem;
    border: 2px solid hsl(231, 69%, 60%);
    background: hsl(231, 69%, 60%);
    color: #ffffff;
}

header button:first-child:hover {
    background: #ffffff;
    color: hsl(231, 69%, 60%);
}

header button:last-child {
    margin-left: .3rem;
    border: 2px solid #f0f0f0;
    font-weight: 500;
}

header button:last-child:hover {
    color: hsl(229, 31%, 21%);
    border: 2px solid hsl(229, 31%, 21%);
    background: #ffffff;
}

button,
input {
    outline: none;
    border: none;
    padding: .9rem 1rem;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    box-shadow: 0 5px 5px #e0e0e0;
}

button {
    cursor: pointer;
    transition: all .2s ease-in;
}

button:active,
input:focus {
    outline: none;
    box-shadow: none;
}

.margin {
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.5;
    color: hsl(229, 8%, 60%);
    padding: 1.2rem 0 2rem 0;
}

.margin div:last-child {
    padding-top: 3%;
}

.socials {
    display: none;
}


/* <!-- Media Queries-->*/

@media (max-width: 1250px){

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .align-ME{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .margin {
        display: flex;
        flex-direction: column;
    }
    .header-containER h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
    .header-containER p {
        text-align: center;
        padding-left: 0px;
    }

    .header-buttoNS{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 939px) {
    .margin {
        display: flex;
        flex-direction: column;
    }
    .header-containER h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
    .header-containER p {
        text-align: center;
        padding-left: 0px;
    }
}

@media(max-width: 777px) {
    .hamburger {
        display: block;
        margin-left: auto;
        z-index: 2;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: 100%;
        top: -16px;
        gap: 0;
        flex-direction: column;
        background-color: #333b5e;
        width: 100%;
        text-align: center;
        transition: 0.7s;
        z-index: 2;
        padding-bottom: 250px;
        opacity: 0.9;
        height: 100vh;
        overflow-x: hidden;
    }
    .bTN1 {
        background-color: transparent;
        border: 2px solid white;
        padding: 10px 100px 12px 100px;
        line-height: 100px;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
    .listER {
        font-size: 18px;
    }
    .lisTA {
        background-color: transparent;
        border-top: 1px solid #4c526c;
        border-bottom: none;
        padding: 15px 80px 0px 80px;
        line-height: 3px;
        margin-left: 45px;
    }
    .liNE {
        background-color: transparent;
        border-bottom: 1px solid #4c526c;
        padding: 20px 80px 20px 80px;
    }
    .bTN-group {
        justify-content: center;
        text-align: center;
    }
    .lOGo {
        margin-right: 18px;
    }
    header {
        background-color: #fff;
    }
    li {
        list-style: none;
    }
    ul {
        padding-top: 120px;
    }
    a {
        color: white;
        text-decoration: none;
        font-family: 'Rubik', san-serif;
    }

}

@media(max-width: 768px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
    .header-container p {
        text-align: center;
        padding-left: 0px;
    }
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        padding-top: 100px;
        align-items: center;
        align-content: center;
    }
    .socials i {
        font-size: 25px;
        cursor: pointer;
        letter-spacing: 30px;
    }
    .socials .header_facebook {
        color: #fff;
        transition: 1s ease;
    }
    .socials .header_facebook:hover {
        color: #1877f2;
        transition: 1s ease;
    }
    .socials .header_twitter {
        color: #1da1f2;
        transition: 1s ease;
    }
    .socials .header_twitter:hover {
        color: #e1e8ed;
        transition: 1s ease;
    }
}

@media (min-width: 1281px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
}

@media (min-width: 1025px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
}

@media (min-width: 801px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
}

@media (min-width: 600px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
}

@media (min-width: 480px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
}

@media (min-width: 320px) {
    .header-container h1 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
}